@import "tailwindcss" source("../");

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-purple-accent: oklch(0.709 0.1592 293.54);
}

@theme inline {
  --animate-shine: shine var(--duration) infinite linear;
 
  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
}

.bg-primary {
  background-color: oklch(0.92 0.004 286.32);
}

.bg-primary-20 {
  background-color: #ffffff1a;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fade-in 0.7s cubic-bezier(0.22, 1, 0.36, 1) both;
}

* {
    @apply border-gray-200 dark:border-gray-800;
  }
  body {
    @apply bg-gray-50 text-gray-950 dark:bg-gray-900 dark:text-gray-200;
  }
