@import "tailwindcss" source("../");

@theme inline {
  --animate-shine: shine var(--duration) infinite linear;
 
  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
}

.bg-primary {
  background-color: oklch(0.92 0.004 286.32);
}

.bg-primary-20 {
  background-color: #ffffff1a;
}


* {
    @apply border-gray-200 dark:border-gray-800;
  }
  body {
    @apply bg-gray-50 text-gray-950 dark:bg-gray-900 dark:text-gray-200;
  }
